@import "src/styles/Variables.module";

.stepsContainer {
  display: grid;
  grid-template-columns: 22.2395vw 22.2395vw 22.2395vw;
  gap: 4.146875vw 2.0833vw;
  width: 70.8333vw;
  position: relative;

  .stepItem {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25vw;
    width: 22.2395vw;
    height: 5.8854vw;
    background: $second-background-color;
    border-radius: $primary-border-radius;
    padding: 0 2rem;
    font-size: 1.25rem;
    font-weight: 400;

    &.dedicated {
      outline: 4px solid $third-background-color;
      text-transform: uppercase;
      font-weight: 700;
    }

    .number {
      font-size: 2.0833vw;
      font-weight: 700;
      color: $third-background-color;
    }
  }
}
